<html>
</head>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

<script type="text/javascript">
	function sse() {
        var source = new EventSource('/listen');
        var out = document.getElementById('editor');
        source.onmessage = function(e) {
            out.innerHTML =  e.data 
        };
    }
	$(document).ready(function(){
		content = ""
		contentOld = ""
	   $("#editor").on('input', function(event) {
			var data = {};
	   		cursorPosition = window.getSelection().getRangeAt(0).startOffset
	   		console.log(cursorPosition)
	   		content = $('#editor').text();
	   		if (content.length < contentOld.length) {
	   			console.log("Character " + contentOld[cursorPosition] + " Deleted at position " + cursorPosition);
	   			data["character"] = contentOld[cursorPosition];
	   			data["type"] = 1
	   		} else {
	   			console.log("Character "+ content[cursorPosition-1]+ " Inserted at postion " + (cursorPosition - 1));
	   			data["character"] = content[cursorPosition - 1] 
	   			data["character"] = 0
	   		}
	   		contentOld = content;
	   		data["content"] = $('#editor').text()
	   		var saveData = $.ajax({
			      type: 'POST',
			      url: "/data",
			      data: data,
			      success: function(resultData) { console.log("Saved!"); }
			});
			saveData.error(function() { console.log("Something went wrong"); });
 		});
	sse()
});
</script>
</head>
<body>
	<p> Collabaritive Editor</p>
<div id='editor' contenteditable='true' style="height:100px;width:1000px;border:solid;"></div>
<div id='messages'> </div>
</body>
</html>
